.toggle-button-line{
    width: 30px;
    height: 1px;
    background: white;

}

.toggle-button{
    height: 24px;
    width: 36px;
    background: transparent;
    border: none;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    box-sizing: border-box;
    outline:none;

}

*:focus {
    outline: 0 !important;
}