*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a{
  color: #333;
  text-decoration: none;
}

.content-root{
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}

.App{
  background: #212121;
  top: 0;
  left: 0;
  width: 100%;
}